<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <form id="demo" action="/upload/1" method="POST" enctype="multipart/form-data">
        <input type="file" id="file1" name="file1">
        <input type="file" id="file2" name="file2">
        <input type="text" name="question" placeholder="Enter your question">
        <button type="submit">Submit</button>
    </form>    
    <script src="/js/demo.js"></script>
</body>
</html>