body{
    display:flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 90%;
    margin-top: 50px;
}
select{
    margin: 20px;
}
h1{
    text-align: center;
}
button{
    position: relative;
    left: 460px;
    width: 200px;
    display: block;
}